version: '3'

services:
  app:
    build: ./app
  mongo:
    image: mongo

********************

version: '3'

services:
  linux:
    image: ubuntu:latest
    command: "sleep 50"
	
************************

version: '3'

services:
  scheduler:
    build: ./scheduler
    restart: always
    depends_on:
      - redis
    environment:
      TG_TOKEN: 'my_token'
      TG_USER: 000000000
      VACANCY: 'инженер'
      TIMESTAMP: '2023-12-26 10:00:00'
  redis:
    image: redis
    restart: always

*******************

version: '3'

services:
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    restart: always
    volumes:
      - /app/node_modules
      - ./frontend:/app
  api:
    build: ./api
    ports:
      - '5555:5000'
    restart: always
    depends_on:
      - mysql
    volumes:
      - /app/node_modules
      - ./api:/app
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PORT: '3306'
      MYSQL_PASSWORD: password
      MYSQL_DB: time_db
  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: time_db
    volumes:
      - mysql_data:/var/lib/mysql
  adminer:
    image: adminer
    ports:
      - '8888:8080'
    restart: always
volumes:
  mysql_data:
  
*********************

version: '3'

services:
  frontend:
    image: bstashchuk/time-app-frontend-dev
    ports:
      - '3000:3000'
    restart: always
  api:
    image: bstashchuk/time-app-api-dev
    ports:
      - '5555:5000'
    restart: always
    depends_on:
      - mysql
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PORT: '3306'
      MYSQL_PASSWORD: password
      MYSQL_DB: time_db
  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: time_db
    volumes:
      - mysql_data_pub:/var/lib/mysql
  adminer:
    image: adminer
    ports:
      - '8888:8080'
    restart: always
volumes:
  mysql_data_pub:
  
************************

